@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Jersey+10&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
}
body {
  background-color: black;
}
.containerSnakeGame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
  color: white;
  font-size: 20px;
}
.navigationBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
  width: 100%;
}

.navigationButtons {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #424799;
  color: white;
  border: none;
}

.containerLoApredido {
  max-width: 400px;
  padding: 20px;
}

.navigationButtons a {
  text-decoration: none;
  color: white;
}

.navigationButtons:hover {
  background-color: #f44336;
  color: white;
}
.learned-container {
  padding-left: 20px;
}

.title {
  text-align: center;
}
.snakeImage {
  max-width: 400px;
}
.snakeImage img {
  width: 100%;
}

#board,
.boardInfo {
  max-width: 400px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #2d509c;
}
#start,
.boardInfo {
  font-size: 25px;
}

#gameOver {
  display: none;
  background-color: #b33b3b;
  color: white;
  padding: 10px;
  font-size: 40px;
  border-radius: 15px;
  width: 200px;
  text-align: center;
  margin: 20px auto;
}

.boardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#start {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#scoreBoard {
  display: inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #2d509c;
}

.snakeSquare {
  background-color: #699e46;
}

.foodSquare {
  display: flex;
  background-color: #a83838;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.foodSquare::before {
  content: "🍎";
}
