@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Jersey+10&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
}
.containerSnakeGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  background-color: black;
  color: white;
  font-size: 20px;
}

.snakeImage {
  width: 400px;
}
.snakeImage img {
  width: 100%;
}

#board,
.boardInfo {
  width: 400px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #2d509c;
}
#start,
.boardInfo {
  font-size: 25px;
}

#gameOver {
  display: none;
  background-color: #b33b3b;
  color: white;
  padding: 10px;
  font-size: 40px;
  border-radius: 15px;
}

.boardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#start {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#scoreBoard {
  display: inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #2d509c;
}

.snakeSquare {
  background-color: #699e46;
}

.foodSquare {
  background-color: #a83838;
  border-radius: 20px;
}
