* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contador {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.tablero {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #424658;
  border-radius: 15px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
}

.display {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  font-size: 8rem;
  color: white;
}

.botones {
  display: flex;
  gap: 10px;
}

.boton {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.aumentar {
  background-color: #4caf50;
  color: white;
}
.aumentar:hover {
  background-color: #005504;
}
.disminuir {
  background-color: #f44336;
  color: white;
}
.disminuir:hover {
  background-color: #b8350d;
}

.restablecer {
  background-color: #008cba;
  color: white;
}
.restablecer:hover {
  background-color: #005f73;
}

.score {
  font-size: 2rem;
  color: white;
}
